body{
    background-color: #ffa700;
}
#score{
    font-size: 25px;
    float: left;
    margin-left: 25px;
}
#timer{
    font-size: 25px;
    float: right;
    margin-right: 25px;
}
#reference{
    font-size: 30px;
    color: dodgerblue;
    font-weight: bolder;
    background-color: white;
}
#label,#confidence{
    font-size: 20px;
    font-weight: bolder;

}